name = "fmap"
version = "0.1.0"
license = "license"
author = "Sebastian Gerhard Mutz"
maintainer = "sebastian@mutz.science"
copyright = "Copyright 2026, Sebastian Gerhard Mutz"
[build]
auto-executables = true
auto-tests = true
auto-examples = true
module-naming = false
[install]
library = false
[fortran]
implicit-typing = false
implicit-external = false
source-form = "free"

